node_modules/
dist/
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
*.local
.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
backend/.env
backend/temp_media/
backend/.ruff_cache/
backend/.packages/
.pnpm-store/
.pnpm-store/
